.calendar {
  cursor: default;
}

.day, .next-day, .previous-day {
  padding: 0.5rem !important;
  font-size: .875rem;
}

.day:hover,
.next-day:hover,
.previous-day:hover {
  background-color: rgba(0, 0, 0, .3);
}

.day.active {
  color: #ffffff !important;
  background-color: #39adae;
}