.content {
  transition: padding-bottom .3s;
}

.content-collapsed {
  border-bottom-left-radius: .25rem !important;
  border-top-left-radius: .25rem !important;
}

.content-expanded {
  border-bottom-left-radius: 0 !important;
  border-top-left-radius: .25rem !important;
}
