/*
 * ----------------------------------------
 * animation scale-in and scale-out
 * ----------------------------------------
 */

.scale-in {
  -webkit-animation: scale-in .3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: scale-in .3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.scale-out {
  -webkit-animation: scale-out .3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: scale-out .3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes scale-in {
  0% {
    -webkit-transform: scale(.5);
    transform: scale(.5);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes scale-in {
  0% {
    -webkit-transform: scale(.5);
    transform: scale(.5);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes scale-out {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(.5);
    transform: scale(.5);
    opacity: 0;
  }
}

@keyframes scale-out {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(.5);
    transform: scale(.5);
    opacity: 0;
  }
}

/*
 * ----------------------------------------
 * animation fade-in and fade-out
 * ----------------------------------------
 */

.fade-in {
  -webkit-animation: fade-in .3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: fade-in .3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.fade-out {
  -webkit-animation: fade-out .3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: fade-out .3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/**
 * ----------------------------------------
 * animation slide-in-top and slide-out-top
 * ----------------------------------------
 */

.slide-in-top {
  -webkit-animation: slide-in-top .5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-in-top .5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-out-top {
  -webkit-animation: slide-out-top .3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-out-top .3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes slide-out-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    opacity: 0;
  }
}

@keyframes slide-out-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    opacity: 0;
  }
}
