@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

body {
  background: url('/background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#root {
  height: 100vh !important;
}

html, body, #root {
  font-family: 'Nunito', sans-serif;
  overflow: hidden;
}

.icon {
  transition: color .3s;
}

.icon-light {
  color: #bbbbbb !important;
}

.icon-light:hover {
  color: #ffffff !important;
}

.icon-dark {
  color: #444444 !important;
}

.icon-dark:hover {
  color: #000000 !important;
}
