.left-tabs {
  background-color: #011119;
  height: 38rem;
  width: 64rem;
}

.tabs {
  transition: width .3s;
}

.tabs .nav-link {
  border-left: solid transparent !important;
  transition: border-left-color .3s;
  font-size: .875rem;
  outline: none;
}

.tabs .nav-link:hover {
  color: #bbb !important;
}

.tabs .nav-link.active {
  background-color: transparent !important;
  border-left: solid #39adae !important;
  color: #39adae !important;
}

.top-bar {
  z-index: 1001;
}

.collapsed {
  width: 3.5rem;
}

.expanded {
  width: 14rem;
}

.brand {
  transition: font-size .3s;
}

.brand-collapsed {
  font-size: 1.5rem;
}

.brand-expanded {
  font-size: 2rem;
}

.icon-menu {
  transition: color .3s;
}

.icon-menu:hover {
  color: #bbb !important;
}

.pane {
  transition: padding-bottom .3s;
}

.pane-expanded {
  padding-bottom: 3rem;
}

.pane-collapsed {
  padding-bottom: 0.001rem;
}