.left-tabs {
  background-color: #011119;
  height: 38rem;
  width: 64rem;
}

.tabs {
  transition: width .3s;
}

.tabs .nav-link {
  border-left: solid transparent !important;
  transition: border-left-color .3s;
  outline: none;
}

.tabs .nav-link,
.tabs .version {
  font-size: .875rem;
}

.tabs .nav-link:hover {
  color: #bbb !important;
}

.tabs .nav-link.active {
  background-color: transparent !important;
  border-left: solid #39adae !important;
  color: #39adae !important;
}

.collapsed {
  width: 3.5rem;
}

.expanded {
  width: 14rem;
}

.brand-collapsed {
  font-size: 1.5rem;
}

.brand-expanded {
  font-size: 2rem;
}