.left-tabs {
  border-radius: 0.25rem !important;
  background-color: #011119;
  height: 90%;
  width: 85%;
}

.tabs {
  transition: width .3s;
}

.tabs .nav-link {
  border-left: solid transparent !important;
  transition: border-left-color .3s;
  font-size: .875rem;
  outline: none;
}

.tabs .nav-link:hover {
  color: #bbb !important;
}

.tabs .nav-link.active {
  background-color: transparent !important;
  border-left: solid #39adae !important;
  color: #39adae !important;
}

.top-bar {
  z-index: 1001;
}

.left-tabs-collapsed {
  width: 3.5rem;
}

.left-tabs-expanded {
  width: 14rem;
}

.brand {
  transition: font-size .3s !important;
}

.brand-collapsed {
  font-size: 1.5rem;
}

.brand-expanded {
  font-size: 2rem;
}

.icon-menu {
  transition: color .3s;
}

.icon-menu:hover {
  color: #bbb !important;
}

.pane {
  transition: padding-bottom .3s, padding-top .3s !important;
}

.pane-collapsed {
  padding-bottom: 3rem;
  padding-top: 1rem;
}

.pane-expanded {
  padding-bottom: 1rem;
  padding-top: 0.25rem;
}

@media screen and (min-width: 1280px) {
  .left-tabs {
    height: 90%;
    width: 70%;
  }

}